a:hover {
    cursor: hand;
}
#slide{
    margin: 0;
    padding: 0;
}

#slide div {
    width: 100%;
    position: absolute;
    margin: 0;
}
#slide img {
    width: 90%;
    height:400px;
    opacity: 0.8;
}